.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F3A26D;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #00809D;
}

p {
  font-size: 2rem;
  color: #00809D;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #00809D;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 1024px){
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  }

}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }

}
